.DS_Store
Thumbs.db

**/node_modules/
**/dist/

launcher/data/
launcher/logs/
launcher/desktop/launcher.log
launcher/desktop/node_modules/
launcher/web/

assets/
modpack/
Project-P1L0T-modpack*.zip

ui/*.zip

modpack/R2Northstar/logs/
modpack/R2Northstar/_stash*/
modpack/R2Northstar/mods/_stash*/
modpack/R2Northstar/mods/_stash_*/
